<%= render @user %>
<div><span>bio</span><p><%= @user.bio %>
<% @posts.each do |post| %>
<div><strong>post #<%=post.id%></strong><br><%=post.text...%><br>Comments: <%=post.comments_counter%>, Likes: <%=post.likes_counter%></div><br>
<% end %>
<button>See all posts</button>
 
  
