<div><strong>Post #<%=post.id%></strong><br>
<article class="post">
<strong>Title: <%=post.title%></strong><br><%=post.text...%>
Comments: <%=post.comments_counter%>, Likes: <%=post.likes_counter%>
</article>

<%=render "likes/form", post: post%>
<%=render "comments/form", post: post%>

<ol>
<%post.comments.each do |comment|%>
<li><%=comment.author.name%>: <%=comment.text%>
<%=button_to "del", comment_path(comment), method: :delete  %>
</li><br>
<%end%>
</ol>
<ul>
  <% if @current_user&.admin?%>
  <li><%= link_to "Edit Post", edit_post_path(@post) %></li>
  <li><%= button_to "del", post_path(@post), method: :delete  %></li>
  <%end%>
</ul>
</div><br>
<button class="pagination">Pagination</button>